//------------Animation-----------------

$time:0.8s;

//------------colors-----------------


//------------fonts-size-----------------
$fn-xxs:14px;
$fn-xs:16px;
$fn-s:18px;
$fn-m:26px;
$fn-XL:36px;
$fn-XXL:42px;

//------------width-for-containers-----------------


//------------width-for-buttons-----------------
$btn-item-s:120px;
$btn-width-s:270px

